@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     /* background-color: #090909; */
    background: linear-gradient(180deg, #e6eaf5 0%, #f6f6f6 80%);
    font-family: 'Space Grotesk', sans-serif;
}

.rockText {
    font-family: 'Rock Salt', cursive;
}

.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

/* slider*********************/
.slick-slide > div {
    margin: 0 10px;
}

.slick-list {
    margin: 0 -10 px;
}



